<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 环境配置 -->
    <!--引入外部配置文件-->
    <properties resource="Jdbc.properties"></properties>
   <typeAliases>
      <typeAlias type="pojo.Student" alias="student"/>
   </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 数据库连接相关配置 ,这里动态获取config.properties文件中的内容-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}"/>
                <property name="username" value="${user}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <!-- mapping文件路径配置 -->
    <mappers>
        <!--mybatis的mapper配置文件-->
        <mapper resource="Mapper/StudentMapper.xml"/>
        <!--使用注解来配置Mapper-->
        <mapper class="dao.StudentAnnotationMapper"/>
    </mappers>

</configuration>




